$color-purple-1: #6C4796;
$color-purple-2: #9951DB;

$color-dark-gray: #434343;
$color-medium-red: #bd2821;
$color-light-red: #dc392d;

$color-light-blue: #0087FF;
$color-dark-blue: #111c4e;

$color-white: #FFF;

$color-primary: $color-purple-2;
$color-body-text: $color-dark-gray;

// For more colors, see https://thelott.com/tattslotto/how-to-play

