@import "./colors";

body {
  background: linear-gradient(135deg,#9f4a8f,#745099 18%,#555aa2 31%,#4668ac 43%,#326fb3 54%,#3073b5) no-repeat;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.15;
  color: $color-body-text;
}

@import "./number-pool";
