<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lottery Number Generator</title>
    <link href="index.css" type="text/css" rel="stylesheet">
</head>
<body>
<h1>Lottery Number Generator</h1>
<div id="App">
    <p>{{message}}</p>
    <p><label><input type="checkbox" v-model="seen"/>&nbsp;Click to see...</label></p>
    <p v-if="seen" style="background-color: maroon; color: gold; font-weight: bold">He he he he</p>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="module" src="index.js"></script>
</body>
</html>